
/*  */
.shop-container{
	display: grid;
	grid-template-columns: 4fr 1fr;
	margin: 10px 50px;
}

.card-container{
	display: grid;
	grid-template-columns: repeat(3 , 1fr);
	gap: 45px;
}

/* cart-container css */

.cart-container{
	margin-left: 20px;
}